<a href="https://colab.research.google.com/github/edufms/edufms/blob/main/Aula04_Estatistica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTANDO BIBLIOTECAS QUE SERÃO UTILIZADAS
* PANDAS: LER ARQUIVOS DO EXCEL E SALVAR EM UM DATAFRAME;
* NUMPY: TRABALHAR COM VETORES

In [7]:
import pandas as pd
import numpy as np

LER ARQUIVO DO EXCEL E EXIBIR RESULTADO NA TELA

In [8]:
df = pd.read_excel('/content/893054db-b79a-41c2-9c5b-d8cf1d0c4c9a.xlsx')
df = df.dropna(axis=1)
df.head()

         Data     Tempo  Grupo1  Grupo2  Grupo3
0  2019-11-24  00:00:00       0       2       0
1  2019-11-24  00:01:00       0       1       0
2  2019-11-24  00:02:00       0       2       0
3  2019-11-24  00:03:00       0       1       0
4  2019-11-24  00:04:00       0       1       0

1ª ETAPA DA ANALISE ESTATISTICA
* UTILIZAR O MÉTODO describe() PARA EXIBIR A MÉDIA, DESVIO PADRAO, MEDIANA, 1º QUARTIL, 3º QUARTIL, MAX E MINIMO.
* SALVAR EM VARIAVEIS A MÉDIA E O DESVIO PADRÃO

In [ ]:
media = df.mean()
desviopadrao = df.std()
df.describe()

            Grupo1       Grupo2       Grupo3
count  2880.000000  2880.000000  2880.000000
mean      0.754167     1.136806     6.005556
std       4.909955     5.166895     8.329776
min       0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000
75%       0.000000     1.000000    17.000000
max      38.000000    40.000000    19.000000

CALCULAR COEFICIENTE DE VARIANCIA
> cv = desvio padrao / media

In [ ]:
CV = desviopadrao / media
CV

Grupo1    6.510438
Grupo2    4.545100
Grupo3    1.387012
dtype: float64

CALCULAR AMPLITUDE
> A = MAX - MIN

In [ ]:
A1 = df['Grupo1'].max() - df['Grupo1'].min()
A2 = df['Grupo2'].max() - df['Grupo2'].min()
A3 = df['Grupo3'].max() - df['Grupo3'].min()
print(f'Amplitude 1: {A1}')
print(f'Amplitude 2: {A2}')
print(f'Amplitude 3: {A3}')

Amplitude 1: 38
Amplitude 2: 40
Amplitude 3: 19